.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info-container {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

  .heading {
    font-size: 40px;
    color: #009688;

    @media screen and (max-width: 768px) {
      font-size: 30px;
    }
  }
}

.main-container {
  width: 80%;
  position: relative;
  padding: 5px 5px 57px;
  background: #fafafa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  @media screen and (max-width: 768px) {
    width: 95%;
  }
}

.formatter-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 10px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    row-gap: 10px;
  }
}

.textarea {
  box-sizing: border-box;
  font-size: 16px;
  border: none;
  width: 100%;
  padding: 7px 10px;
  min-width: 0;
  height: 100%;
  font-family: monospace;
  display: block;
  resize: none;
}

.json-formatter-container {
  width: 400px;
  height: 563px;
  overflow: scroll;
}

.controller-container {
  margin-top: 20px;
}

.formatter-output,
.formatter-input {
  width: 50%;
  height: 350px;
  min-height: 60vh;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.formatter-input,
.formatter-output {
  color: #000;
  vertical-align: top;
  font-family: monospace;
  overflow: auto;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
}

.inner {
  width: 100%;
  position: relative;
  padding: 0 5px;

  > :first-child {
    margin-left: 30px;
  }
}

.full-height {
  height: 100%;
}

.validation-container {
  background-color: #00ff85;
  position: sticky;
  bottom: 0;
  opacity: 0.8;
  overflow: hidden;
  left: 0;
  right: 0;
  padding: 0 5px;

  &.success {
    background-color: #43c692;
  }

  &.error {
    background-color: #ffb199;
  }

  .text {
    font-family: monospace;
    font-size: 15px;
    text-align: center;
  }

  .error {
    color: #d13800;
  }

  .success {
    background-color: #43c692;
  }
}

.child {
  > div {
    margin-left: 30px;
  }
}

.formatter-controllers {
  width: 100%;
  padding: 20px 0px;
  text-align: right;

  position: absolute;
  bottom: -11px;
  right: 11px;

  .copy-button {
    width: 100px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    background-color: #009688;
    color: white;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: #05aa9b;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
